<div style="width: 500px;height: 300px;">
    <mat-card>
        <mat-card-title>Welcome {{userDetails.first_name}}</mat-card-title>

        <mat-card-content>
            <p>This is brand homepage. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor quis
                consectetur soluta deleniti deserunt ipsam facere, et, quisquam molestiae doloremque, corporis eveniet
                veniam fuga doloribus voluptatum nisi possimus harum? </p>
        </mat-card-content>

        <div class="button">
            <button type="button" mat-raised-button color="warn" [routerLink]="['/details']">View Details</button>
        </div>
    </mat-card>
</div>